---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { SITE } from "@consts";
---

<PageLayout title="Work in Progress" description="This page is currently under construction">
  <Container>
    <div class="min-h-[70vh] flex flex-col items-center justify-center">
      <h1 class="animate font-ba font-bold text-black dark:text-white" style="font-size: 7em; text-align: center;">
        WORK IN
      </h1>
      <h2 class="animate font-ba font-bold text-black dark:text-white" style="font-size: 7em; text-align: center;">
        PROGRESS
      </h2>
      <p class="animate font-ba text-black dark:text-white mt-8" style="font-size: 2em; text-align: center; opacity: 0.7;">
        This page is currently under construction
      </p>
      <p class="animate font-ba text-black dark:text-white mt-4" style="font-size: 1.5em; text-align: center; opacity: 0.5;">
        Check back soon for updates
      </p>
    </div>
  </Container>
</PageLayout>
