---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header class="py-6">
  <Container>
    <nav class="flex items-center justify-between">
      <Link href="/" underline={false} class="font-ba text-base md:text-lg">mail@solaebina.me</Link>
      <div class="flex items-center gap-8">
        <Link href="/marketing" underline={false} class="font-ba text-base md:text-lg">Marketing</Link>
        <Link href="/data" underline={false} class="font-ba text-base md:text-lg">Data & AI</Link>
      </div>
    </nav>
  </Container>
</header>

